#static {
  position: fixed;
  bottom: 0;
  background-color: #5e5e5e5e;
  margin-top: 10px;
}
body {
  font-family: 'Poppins';
  font-size: 11px;
}
#newSubForm {
  display: none;
}
#submission {
  width: 50%;
  min-width: 500px;
  height: 100px;
  font-family: 'Poppins';
  border: 2px solid black;
  margin: 5px;
  padding: 5px;
}
#close, #submit {
  display: inline;
  font-size: 14px;
  color: blue;
  cursor: pointer;
  text-decoration: underline;
}
button {
  cursor: pointer;
}

.lineItem {
  border: 2px solid black;
  width: 75%;
  min-width: 500px;
  padding: 10px;
  padding-top: 0px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  /* cursor: pointer;s */
}
.un {
  /* background-color: black; */
  font-size: 14px;
  font-weight: bolder;
  text-decoration: underline;
}
.data {
  color: black;
  font-size: 24px;
}

#parti {
  font-size: 20px;
}