body {
  font-family: 'Poppins';
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  /* background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 7%, rgba(255,151,0,1) 100%); */
  padding: 0;
  margin: 0;
}
#static {
  position: fixed;
  bottom: 0;
  background-color: #5e5e5e5e;
  margin-top: 10px;
  font-size: 11px;
}
#newSubForm {
  display: none;
}
#submission {
  width: 50%;
  min-width: 350px;
  height: 100px;
  font-family: 'Poppins';
  border: 2px solid black;
  margin: 5px;
  padding: 5px;
}
#close, #submit {
  display: inline;
  font-size: 14px;
  color: blue;
  cursor: pointer;
  text-decoration: underline;
}
#close {
  color: red;
}
button {
  cursor: pointer;
}

.lineItem {
  border: 2px solid black;
  background-color: white;
  width: 75%;
  min-width: 350px;
  padding: 10px;
  padding-top: 0px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  cursor: pointer;
  position: relative;
  /* background-color: lightgrey; */
  /* cursor: pointer; */
}
.un {
  /* background-color: black; */
  font-size: 14px;
  font-weight: bolder;
  text-decoration: underline;
}
.data {
  color: black;
  font-size: 24px;
  overflow-wrap: anywhere;
}
#parti {
  font-size: 20px;
}
#viewsubs {
  display: none;
}

#closeEdit {
  color: red;
  text-decoration: underline;
  cursor: pointer;
}
.qr {
  width: 300px;
  height: 300px;
  border: 5px solid black;
}
.subviews {
  border: 2px solid black;
  width: 75%;
  min-width: 350px;
  padding: 10px;
  padding-top: 0px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 5px;
}

.editing {
  display: none;
}
.editBox {
  width: 100%;
  height: 100px;
  font-family: 'Poppins';
}
.savebut {
  display: none;
}
.savedtext {
  color: green;
  display: inline;
  margin-left: 10px;
  display: none;
}

#usercount {
  display: none;
}

.feedbacklink {
  position: fixed;
  bottom: 0;
  color: blue;
  right: 0;
  margin-right: 10px;
  cursor: pointer;
  text-decoration: underline;
}
.feedbacklink:hover {
  cursor: pointer;
}
#changerole {
  height: 100px;
  width: 100px;
  margin: 0;
  position: absolute;
  top: 0;
  right: 0;
}
.globalDelete {
  color: red;
  margin-bottom: 0px;
  text-align: right;
  cursor: pointer;
  text-decoration: underline;
  width: 100px;
  margin-left: auto;
  display: none;
}
#link {
  color: blue;
}

#redirectnotice {
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
}
#qrcode {
  text-align: center;
  font-weight: bolder;
  width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid black;
  position: relative;
  min-width: 350px;
  display: none;
}
#qrimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-block: 1em;
  /* height: 500px; */
  width: 30%;
}
#closeQr {
  height: 10%;
  position: absolute;
  right: 0;
  top: 0; 
  min-height: 20px;
  cursor: pointer;
}
#enlarged {
  width: 90%;
  min-height: 47vw; 
  border: 2px solid black;
  display: flex; 
  align-items: center;
  justify-content: center;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  font-size: 50px;
  font-weight: 600;
  display: none;
  overflow-wrap: break-word;
  background-color: white;
}
#enlargedtext {
  width: 90%;
  text-align: center;
}
#closelarge {
  height: 3%;
  position: absolute;
  right: 0;
  top: 0; 
  min-height: 50px;
  min-width: 50px;
  cursor: pointer;
}
#devinfo {
  background-color: #7EC8E3;
  height: 50px;
  position: fixed;
  right: 0;
  width: 50px;
  text-align: center;
  display: flex;
  align-items: center;
  transform: rotate(270deg);
  border: 2px solid black;
  border-bottom: 2px solid #7EC8E3;
  border-radius: 5px 5px 0px 0px;
  cursor: pointer;
}
#hiddendev {
  border: 2px solid black;
  padding: 10px;
  width: max-content;
  margin: 5px;
  
  display: none;
}
.devstats-p {
  margin: 0;
}
.boldp {
  font-weight: 700;
  text-decoration: underline;
}

#devstats-overallstatus {
  font-size: 16px;
  font-weight: 700;
  border: 2px solid black;
  text-align: center;
  background-color: lime;
}
#devstats-version {
  font-weight: 700;
  border: 2px solid black;
  text-align: center;
  background-color: yellow;
}
#githublink {
  color: blue;
}

#create {
  background-color: #CDC7E5;
  font-family: 'Poppins';
  font-size: 18px;
  /* font-weight: 700; */
  border: 2px solid black;
  width: 200px;
  border-radius: 15px;
  height: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#title {
  text-align: center;
  margin-bottom: 0;
}
#desc-rotate {
  text-align: center;
  font-size: 50px;
  margin: 0;
  display: inline;
  margin-right: 15px;
}

#word-container {
  overflow: hidden;
  height: 75px;
  text-align: center;
  font-size: 50px;
  position: relative;
  display: inline-block;
  font-weight: 700;
  transition: all 0.5s ease;
}

#word {
  display: inline-block;
  position: relative;
  transition: transform 0.5s ease-in-out;
  color: #454E9E;
  text-decoration: underline;
}

.seperate {
  width: 100px;
  height: 2.5px;
  background-color: #FF674D;
  border: 0px solid black;
  display: inline-block;
}
#hr-text {
  display: inline;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 16px;
  font-weight: 700;
  border: 2.5px solid #FF674D
}
#orselector {
  display: flex;
  align-items: center;
  width: max-content;
}
#jc {
  width: 6em;
  font-family: 'Courier';
  font-size: 30px;
  padding: 10px;
  text-align: center;
  border: 2px solid black;
  border-radius: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
::-webkit-inner-spin-button {
  display: none;
}
#joinbut {
  display: block;
  margin: 5px;
  margin-left: auto;
  margin-right: auto;
  height: 35px;
  width: 100px;
  border: 2px solid black;
  font-family: 'Poppins';
  font-size: 18px;
  border-radius: 15px;
  background-color: #CAFEB9;
  color: black;
}
#fieldset-join {
  border: 2px solid black;
  /* border: 4px solid;
  border-image: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 7%, rgba(255,151,0,1) 100%); */
  /* border-image-slice: 1; */
  width: 75vw;
  min-width: 340px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;

}
#fieldset-join-title {
  font-size: 18px;
  font-weight: 700;
  background-color: #CAFFB9;
  padding-left: 10px;
  padding-right: 10px;
  border: 2px solid black;
  border-radius: 5px;
}
h3 {
  text-align: center;
}
#descriptionrotation {
  /* height: 100px; */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  white-space: nowrap;
  margin-bottom: 5px;
}
.mar-top-none {
  margin-top: 0;
}

@media (max-width: 720px) {
  #word {
    display: block;
    text-wrap: wrap;
    font-size: 27px;
  }
  #description-rotation {
    flex-direction: column;
  } 
  #desc-rotate {
    margin-right: 0;
    font-size: 45px;
  }
}

.image-button {
  display: inline-flex;
  width: 200px;
  border: 2px solid #F2AF29;
  height: 50px;
  border-radius: 15px;
  /* justify-content: center; */
  align-items: center;
  left: 0;
  cursor: pointer;
  margin-right: 10px;
  margin-bottom: 10px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none; 
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; 
}
.buttonimg {
  height: 40px;
  margin-left: 2.5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.buttontext {
  margin-left: 2.5px;
  font-weight: 700;
}
.button-leftdiv {
  height: 50px;
  width: 50px;
  border-radius: 10px 0 0 10px;
  background-color: #F2AF29;
  display: flex;
  align-items: center;
}
.button-rightdiv {
  display: flex;
  height: 50px;
  width: 150px;
  border-radius: 0 10px 10px 0;
  text-align: left;
  padding-left: 5px;
  font-size: 14px;
  align-items: center;
}
@media (max-width: 640px) {
  .image-button {
    margin-right: 5px;
    width: 175px;
  }
}
.about-text {
  font-size: 16px;
  text-align: center;
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#savedboardsdiv {
  display: flex;
  justify-content: center;
  border: 2px solid black;
  margin-top: 10px;
  width: 50%;
  min-width: 300px;
  text-align: center;
  padding: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  border-radius: 10px;
}
#underline-number {
  text-decoration: underline;
}

#question-icon {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.savedboard-preview {
  width: 200px;
  height: 50px;
  border: 2px solid black;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-bottom: 5px;
}
.trash {
  position: absolute;
  right: 0;
  height: 30px;
  transition: transform 0.3s ease;
  cursor: pointer;
}
.trash:hover {
  transform: rotate(10deg);
}
.saved-code {
  font-size: 30px;
  font-family: 'Courier';
  color: black;
  text-decoration: none !important;
  
}
.a-no-underline {
  text-decoration: none;
}
#savedboards-title {
  font-size: 30px;
  margin: 0;
  text-decoration: underline;
}
#savedcount {
  margin: 0;
  margin-bottom: 5px;
}
.about-head {
  font-size: 30px;
  text-decoration: underline;
}
#bottom {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  background-color: #93A29B;
  border-top: 2px solid black;
  height: 75px;
  width: 100vw;
  margin: 0;
}
#githublogo {
  height: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#about-content-div {
  height: calc(100vh - 75px);
  position: fixed;
  top: 0;
  overflow: scroll;
}